# Ignorar dependências locais
node_modules
npm-debug.log
yarn-error.log

# Ignorar arquivos de build
dist
.next
out

# Ignorar arquivos de controle de versão
.git
.gitignore

# Ignorar arquivos de ambiente
.env
.env.local
.env.production
.env.development

# Ignorar logs e caches
*.log
.cache
coverage
